/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .top-carousel {
        margin-top: -29px;
    }
    .top-carousel-indicators {
        left: inherit;
    }
    .middle-white-item {
        margin-top: -52px;
    }
    .middle-white-item-next {
        margin-top: 0;
    }
    .info ul {
        left: 0;
    }
    .top-mnu ul {
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .info li {
        margin-right: 15px;
    }
    .footer-contacts {
        margin-left: -8px;
    }
    .footer-copyright {
        margin-left: -15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .info li {
        margin-right: 35px;
    }
}